//
    Created by f13 on 4/6/14.
head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
    meta(name="description", content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).")

    link(rel='stylesheet', href='/css/style.css')
