doctype html
html(lang="en")
    //stylesheet, meta content.
    include includes/head
    body
        //header for the page.
        include partials/header
        //content
        block content
        //footer content/navigation
        include partials/footer
        //scripts
        include includes/foot