//Created by f13 on 5/6/14.
script(type='text/javascript', src='libs/angular/angular.js')
script(type='text/javascript', src='libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='libs/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='libs/angular-resource/angular-resource.js')
script(type='text/javascript', src='libs/angular-route/angular-route.js')

//module dependencies
script(type='text/javascript', src='js/app.js')

//provider configuration
script(type='text/javascript', src='js/config.js')

//global module
script(type='text/javascript', src='js/modules/global/services/index.js')
script(type='text/javascript', src='js/modules/global/controllers/header.js')
script(type='text/javascript', src='js/modules/global/directives/login.js')

//angular init
script(type='text/javascript', src='js/init.js')
