//Created by f13 on 5/6/14.
script(type='text/javascript', src='libs/angular/angular.js')
script(type='text/javascript', src='libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='libs/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='libs/angular-resource/angular-resource.js')
script(type='text/javascript', src='libs/angular-route/angular-route.js')

//module dependencies
script(type='text/javascript', src='js/app.js')

//provider configuration
script(type='text/javascript', src='js/config.js')

//directive declaration
script(type='text/javascript', src='js/directives.js')

//filter
script(type='text/javascript', src='js/filters.js')

//global services
script(type='text/javascript', src='js/services/global.js')

//controller setuplibs/angular/angular.js
script(type='text/javascript', src='js/controllers/index.js')

//global controller
script(type='text/javascript', src='js/modules/global/controllers/header.js')

//angular init
script(type='text/javascript', src='js/init.js')
