//
    Created by f13 on 4/6/14.
head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
    meta(name="description", content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).")

    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/libs/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/css/style.css')

    // [if lte IE 9]
    script(type="text/javascript",src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    // [endif]
    script(type="text/javascript",src="libs/script.js/dist/script.js")
    script(type="text/javascript",src="libs/lodash/dist/lodash.js")