//Created by f13 on 5/6/14.
nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation", ng-controller="NavBarCtrl")
    .container
        .navbar-header
            button.btn.navbar-btn.navbar-toggle(type="button", ng-click="toggleClick()")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") appName
        .collapse.navbar-collapse(collapse="isCollapsed")
            ul.nav.navbar-nav
                li: a(href="#"): i.fa.fa-home
                    | Home
                li: a(href="#") Link 1
                li: a(href="#") Link 2
            ul.nav.navbar-nav.navbar-right
                li: a(href="#"): i.fa.fa-power-off
                    | Logout